<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>CHAT VISTA</title>
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <div class="contant">
            <h1 id="chat">CHAT</h1>
            <h1 id="app">VISTA</h1>
            <p>ChatVista: Where Imagination Meets Conversation Chatter Up!</p>

            <a href="/chats" >GET STARTED →</a>
        </div>
        <div class="poster">
            
        </div>
    </main>
</body>
</html>